* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/********HEADER**********/

header {
    background-image: url("/desafio_DIO_Discord_CSS/img/Header\ Background.png");
    height: 29rem;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.container_header {
    padding: 85px 25%;
}

.container_header h1 {
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    font-family: 56px;
    font-size: 56px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 10rem;
    line-height: 3.5rem;
    letter-spacing: 1px;
    font-weight: 300;
}

.container_header p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    margin-top: 24px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

/********HEADER_BUTTONS**********/

.buttons p {
    background-color: #23272A;
    padding: 0.8rem 1.5rem;
    border-radius: 28px;
}

.buttons p:first-child {
    background-color: #fff;
    color: #23272A;
    padding: 0.8rem 1.5rem;
    border-radius: 28px;
}

/********MAIN**********/

main {
    margin: 0 auto;
}

/********SECTION**********/

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 70px 155px;
    gap: 20px;
}

.section img {
    width: 38rem;
    height: 24.5rem;
}

.section_container {
    font-family: 'Open Sans', sans-serif;
    color: #23272A;
    width: 21rem;
    text-align: left;
}

.section_container h2 {
    font-size: 40px;
    font-weight: 800;    
}

.section_container p {
    font-size: 16px;
    font-weight: 300;   
    margin-top: 16px; 
}

.extra_sectiion {
    background-color: #F6F6F6;
    margin: 0;
    padding: 30px 0;
}

.last_sectiion {
    margin: 0;
    padding: 40px 0;
    background-color: #F6F6F6;
}

.lastSection_container {
    text-align: center;
}

.lastSection_container h2 {
    font-family: 'Luckiest Guy', cursive;
    color: #23272A;
    font-size: 40px;
    padding: 0 28rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
}

.lastSection_container p {
    margin: 16px 0;
    padding: 0 22.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/*******FOOTER*********/

footer {
    background-color: #23272A;
    height: 135px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 40px;
    cursor: pointer;
}




/******MEDIA********/
